<div class="w3-container w3-padding-16">
  <div class="w3-card-4">
    <div class="w3-container w3-black">
      <h2 class="w3-monospace">
        <i class="fa fa-file"></i> Notes
        <a class="w3-right w3-xxlarge" routerLink="/notes/add">
          <i class="fa fa-plus"></i>
        </a>
      </h2>
    </div>

    <ul class="w3-ul">
      @for (note of notes(); track note; let index = $index) {
        <li class="w3-padding-16">
          <p [id]="index">
            {{ note }}
            <a
              class="w3-right w3-xlarge"
              [routerLink]="['/notes/edit', index]"
              title="Edit note"
            >
              <i class="fa fa-edit"></i>
            </a>
          </p>
        </li>
      } @empty {
        <li class="w3-center">
          <p class="w3-monospace">
            <i class="fa fa-recycle"></i> There are no notes
          </p>
        </li>
      }
    </ul>
  </div>
</div>
