<div class="w3-container w3-padding-16">
  <div class="w3-card-4">
    <div class="w3-container w3-black w3-row">
      <div class="w3-col">
				<h2><i class="fa fa-file"></i> Notes</h2>
			</div>
			<div class="w3-col">
				<a class="w3-right w3-xxlarge" routerLink="/notes/add">
					<i class="fa fa-plus"></i>
				</a>
			</div>
    </div>

    <ul class="w3-ul">
      @for (note of notes(); track note; let index = $index) {
      <li (click)="edit(index)">{{ note }}</li>
      }
    </ul>
  </div>
</div>
